.navbar-custom {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Change alpha value to adjust opacity */
}

.nav-link-custom {
  color: #fff;
}
.icon-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
